/* mixt-nav bar start css */
.mixt-nav .navbar-brand {
  font-size: 1.85rem;
  font-weight: bold;
}
.mixt-nav .navbar-brand .brand-first {
  color: #ed2f8e;
}
.mixt-nav .btn-login {
  border: 3px solid #ed2f8e;
  font-size: 1.35rem;
  padding: 0px 8px;
}
.mixt-nav .btn-login:hover {
}
.mixt-nav .navbar-nav .nav-item {
  padding-right: 30px;
}

.mixt-nav .navbar-nav .nav-item .nav-link {
  font-size: 1.35rem;
}
/* mixt-nav bar end css */

/* banner css start*/
.banner-wrapper{
  background-color: aquamarine;
  width: 100%;
  height: 650px;
}
/* banner css end*/